  footer {
    text-align: center;
    padding:10px;
    /**background-color: #9E8FB2;**/
    width: 100%;
    /**position: fixed;**/
    bottom: 0;
    left: 0;
  }
  
  .social-icons {
    margin-top: 10px;
    margin-bottom: 20px;
  
  }
  
  .social-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }