.contenedor {
    background-color: #7b72bd59;
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    width: 30%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: left
    ;
  }
  
  .contenedor h2 {
    font-size: 24px;
    color: #3b4cca;
  }
  
  .contenedor img {
    border: 5px solid #ff0000;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .contenedor ol {
    list-style-type: decimal;
    padding: 0;
    margin: 20px 0;
  }
  
  .contenedor li {
    text-align: left;
    margin: 5px 0;
    font-size: 18px;
  }